.mainbody{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15rem;
}
.card{
    width: 80vw;
  height: 15rem;
    background-color: rgb(238, 246, 238);
    border: rgb(221, 230, 221) 5px solid ;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    box-sizing: border-box;
    margin-top: 5px;
}
.cardbodycontent{
    font-size: 15px;
}
.card:hover{
    background-color: rgb(214, 227, 205);
    border: rgb(106, 127, 109) 8px solid;
    width: 81vw;
    height: 15rem;
    
}


.cardbody{
align-items: center; /* Vertical alignment */
 justify-content: center; /* Horizontal alignment */
float: left;
width: 50%;
padding: 10px;


}
.cardheader{

    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: bolder;
    color: rgb(65, 76, 65);

    

}

