.container-intro{
 
    height: 100vh ;
    background-color:rgb(192, 212, 164) ;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}
.container2-intro{
    border: white 1px solid;
    height: 500px;
    width: 700px;
    align-self: center;
    background-color: #74b690;
}

.title-name{
    font-size: 80px;
    color: #0d6933;
 
    /* margin-bottom: 20px; */
}
.tagline-container{
   
}
.tagline-1 {
    font-size: 40px;
    font-weight: bolder;
   
  }
  
  .tagline-2 {
    font-size: 30px;
    font-style: italic;
    color: #2d9a5b;
  }

  .intro-buttons{
    display: flex;
    justify-content:center;
    position: relative;
    top:150px ;
 
    
    
  }
  button{
    margin-left: 75px;
    margin-right: 75px;
    height: 50px;
    width: 95px;
    font-weight: bold;
    background-color: #0d6933;
    color: aliceblue;

  } 
button:hover{
    background-color: #29b764;
    cursor: pointer;
}