* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  text-decoration: none;
}
li{
  list-style: none;
}
a:any-link {
  text-decoration: none;
  color: inherit;
}
/* navbar style start  */
.mainnav {
  width: 100vw;
  height: 10rem;
  display: flex;
  flex-direction: row;/*defaultly row */ 
  justify-content: space-around; /*horizontal alignment*/
  align-items: center; /*vertically alignment*/
  box-shadow: rgba(135, 118, 118, 0.25) 0px 50px 100px -20px,
    rgba(167, 135, 135, 0.3) 0px 30px 60px -30px;
    position: fixed;
    z-index: 1;
    background-color: #c0c9cd;


}

.logo{
  width: 30%;
  display: flex;
  justify-content: center;
}

.logo h2 {
  font-size: 3rem;
  font-weight: 550;
  text-transform: uppercase;
  color: var(--primary-color);
  -webkit-background-clip: text;
  font-family:  var( --font-familyExo2);
}

.logo h2 span {
  font-size: 3.8rem;
}

.menulink {
  width:40%;
}

.menulink ul {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menulink ul li > a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.menulink ul li:hover > a {
  transform-origin: left;
  color: #5D5C61;
  text-decoration: underline;
  transition: 0.5s;
}

.mainbuttons{
  width: 25%;
  display: flex;
  justify-content: center;
  
  
}
.mainbuttons ul{
  height: 10rem;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.button1  {
  padding:  10px 22px;
  background-color: #64624b;
  border-radius: 12px;
  color: rgb(255, 248, 248);
  transition-duration: 0.4s;
  border: 1.8px solid var(--primary-color);
  font-weight: bold;

}
.button2  {
  padding: 10px 22px;
background-color: var(--secondary-color);
  border: 1.8px solid var(--primary-color);
  border-radius: 12px;
  transition-duration: 0.4s;
  color: black;
  margin: 20px;
  font-weight: bold;
}

.button1:hover {
  font-weight: 3px;
  color: black;
  background-color: var(--secondary-color);
}
.button2:hover {
  background-color: #64624b;
  color: white;
  
}


.GiHamburgerMenu{
  font-size: 4rem;
  width: 20%;
  display: row;
  /* align-items: center; */
  justify-content: center;
color: var(--primary-color);
  padding: 5rem;
}
.dropdownMenu {
  border: rgb(209, 223, 209) 2px solid;
  min-width: 12rem;
  border-radius: 5px;
  color: #6fc699;
  position: absolute;
  top: 6rem;
  background-color:var(--secondary-color);
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.dropdownMenu ul li a {
  color: #486758;
 font-size: 2rem;
 font-weight: bold;
}
.dropdownMenu ul li :hover{
text-decoration: underline;
color: var(--primary-color);
font-size: 2.3rem;
}


