* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
li{
  list-style: none;
}
/* navbar style start  */
.mainnav {
  width: 100vw;
  height: 10rem;
  display: flex;
  flex-direction: row;/*defaultly row */ 
  justify-content: space-around; /*horizontal alignment*/
  align-items: center; /*vertically alignment*/
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: fixed;
    z-index: 1;
    background-color: #f1f5f3;
}

.logo{
  width: 30%;
  display: flex;
  justify-content: center;
}

.logo h2 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#b5caa0, rgb(64, 129, 105));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 3.8rem;
}

.menulink {
  width:40%;
}

.menulink ul {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menulink ul li > a {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(49, 127, 81);
}

.menulink ul li:hover > a {
  transform-origin: left;
  color: rgb(37, 87, 66);
  text-decoration: underline;
  transition: 0.5s;
}

.mainbuttons{
  width: 25%;
  display: flex;
  justify-content: center;
}
.mainbuttons ul{
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  
  
}

.button1 > a {
  padding:  10px 22px;
  background-color: rgb(47, 136, 103);
  border-radius: 12px;
  color: rgb(255, 248, 248);
  transition-duration: 0.4s;
  border: 1.8px solid rgb(47, 136, 103);
}
.button2 >a {
  padding: 10px 22px;
  border: 1.8px solid rgb(47, 136, 103);
  border-radius: 12px;
  transition-duration: 0.4s;
  color: black;
  margin: 20px;
  
}

.button1:hover {

  color: black;
  border: 1.8px solid rgb(47, 136, 103);
}
.button2:hover > a{
  background-color: rgb(57, 157, 121); /* Green */
  color: white;
}




