.mainbody {
  background-color: rgb(21, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../Images/mainBG2.jpg');
  background-size: cover;
  background-position: bottom;
  border: 2px solid black;

}

.form-container {
  width: 30rem;
  background-color: rgb(7, 7, 7);
  padding: 2rem;
  border-radius: .5rem;
  
  box-shadow: 0 0 10px rgba(239, 229, 229, 0.1);
  
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
  color: black;
  font-size: 4rem;
}

.inputbox {
  margin-bottom: 2rem;
}

.email,
.password {
  margin-bottom: 2rem;
}

.emailbox,
.pswbox {
  padding: 1.5rem;
  width: 100%;
  font-size: 2rem;
}

.getin {
  padding: 1.5rem 3rem;
  background-color: var(--primary-color);
  color: rgb(16, 13, 13);
  font-size: 2.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.getin:hover {
  background-color: rgb(213, 223, 213);
}

.last {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

.switch {
  font-size: 2.2rem;
  color: blue;
  
  /* text-decoration: none; */
}

.switch:hover {
  text-decoration: underline;
}