/* signin.css */

.mainbody {
    background-color: rgb(240, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

  }
  
  .form-container {
    width: 30rem;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .header h1 {
    color: green;
    font-size: 4rem;
  }
  
  .inputbox {
    margin-bottom: 2rem;
  }
  
  .email,
  .password {
    margin-bottom: 2rem;
  }
  
  .emailbox,
  .pswbox {
    padding: 1.5rem;
    width: 100%;
    font-size: 2rem;
  }
  
  .getin {
    padding: 1.5rem 3rem;
    background-color: green;
    color: white;
    font-size: 2.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .getin:hover {
    background-color: darkgreen;
  }
  
  .check {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .check input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  .last {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
  }
  
  .switch {
    color: green;
    text-decoration: none;
  }
  
  .switch:hover {
    text-decoration: underline;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .form-container {
      width: 90%;
      max-width: 30rem;
    }
  
    .header h1 {
      font-size: 3.2rem;
    }
  
    .emailbox,
    .pswbox {
      font-size: 1.8rem;
    }
  
    .getin {
      padding: 1.2rem 2.5rem;
      font-size: 2rem;
    }
  
    .last {
      font-size: 1.8rem;
    }
  }
  
  @media (max-width: 480px) {
    .form-container {
      width: 90%;
      max-width: 30rem;
    }
  
    .header h1 {
      font-size: 2.5rem;
    }
  
    .emailbox,
    .pswbox {
      font-size: 1.6rem;
    }
  
    .getin {
      padding: 1rem 2rem;
      font-size: 1.8rem;
    }
  
    .last {
      font-size: 1.6rem;
    }
  }
  