.mainbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
  }
  .maintip{
    padding:15rem;
    background-image: url('../../Images/mainBG2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
  }
  .headingdonation {
    margin-bottom: 2rem;
  }
  
  .headingdonation h1 {
    color: black;
  font-size: 4rem;
  }
  
  form {
    width: 400px;
    padding: 2rem;
    border: 1.5px solid #7d7a5a;
    border-radius: 5px;
  }
  
  .subpart {
    margin-bottom: 1.5rem;
  }
  
  label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='tel'],
  input[type='date'] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type='submit'] {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    background-color: #9e9b7a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem;
  }
  
  button[type='submit']:hover {
    background-color: #7d7a5a;
  }
  