.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    
  }
  .maintip{

  }
  .headingdonation {
    margin-bottom: 2rem;
  }
  
  .headingdonation h1 {
    color: green;
  font-size: 4rem;
  }
  
  form {
    width: 400px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .sub-part {
    margin-bottom: 1.5rem;
  }
  
  label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='tel'],
  input[type='date'] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type='submit'] {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem;
  }
  
  button[type='submit']:hover {
    background-color: #45a049;
  }
  